@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root{
    --red: #DA291C;
    --yellow: #FFD700;
    --blue: #006DD7;
    --green: #00AF4D;
    --white: #FFFFFF;
    --black: #000000;

    --maxwidth: 1200px;
    --rootsize: 20px;
}

body{
    background-color: var(--yellow);
    background-image: url('images/mainbackground.png');
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.container {
    background-color: var(--white);
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header a{
    width: 100%;
    max-width: 250px;
}

header a img{
    width: 100%;
    max-width: 250px;
    height:auto;
    object-fit: contain;
}

#cart{
    position: relative;
    width: 100%;
    max-width: 50px;
}

#cart .label{
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    position: absolute;
    top: -1.3rem;
    left: -1.3rem;
    border-radius: 50%;
    padding-top: 5px;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: var(--red);
}

li{
    color: var(--white);
}

ul :hover{
    background-color: var(--yellow);
    color: var(--black);
}




